@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-offset-4 outline-primary;
  }

  html {
    font-size: 100%;
    /* @apply scroll-smooth; */
    scroll-behavior: smooth !important; /* only solution when using next v13+ */
  }

  body {
    @apply bg-white text-sm leading-normal text-gray-700 sm:text-lg;
    font-family: 'Open Sans', Helvetica, sans-serif, Arial;
  }

  body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-header;
  }

  h1 {
    @apply mb-8 text-3xl;
  }

  h2 {
    @apply mb-4 text-2xl sm:text-3xl;
  }

  h3 {
    @apply mb-3 text-xl;
  }

  h1,
  h2,
  h3 {
    @apply font-bold leading-none text-header sm:leading-none;
  }

  main a,
  footer a {
    @apply text-primary hover:underline;
  }
}

@layer components {
  .todo {
    @apply text-orange-600;
  }
}

@layer utilities {
}
